  
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Add Product</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="/admin/product/new-product" method="post" class="tm-edit-product-form" enctype="multipart/form-data"  >
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >Product Name
                    </label>
                    <p class="text-danger" id="names"></p>
                    <input
                      id="name"
                      name="name"
                      type="text"
                      class="form-control validate"
                  onkeyup="validateName()"
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="description"
                      >Description</label
                    >
                      <p class="text-danger" id="discriptions"></p>
                    <textarea
                      name="description"
                      id="discription"
                      class="form-control validate"
                      rows="3"
                      onkeyup="validateDiscription"
                      
                    ></textarea>
                  </div>
                   
                  <div class="form-group mb-3">
                    <label
                      for="category"
                      >Category</label
                    >
                     <p class="text-danger" id="discriptions"></p>
                    <select
                      class="custom-select tm-select-accounts"
                      id="category"
                      name="category"
                      required
                    >
                      <option  >Select category</option>
                      {{#each category}}
                      <option  value="{{this.name}}">{{this.name}}</option>
                      {{/each}}
                     
                    </select>
                  </div>
                  <div class="row">
                    
                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="stock"
                            >Price
                          </label>
                           <p class="text-danger" id="numbers"></p>
                          <input
                            id="number"
                            name="price"
                            type="number"
                            class="form-control validate"
                            required
                          />
                        </div>
                  </div>
                  
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div class="tm-product-img-dummy mx-auto">
                  <i
                    class="fas fa-cloud-upload-alt tm-upload-icon"
                    onclick="document.getElementById('fileInput').click();"
                  ></i>
                </div>
                <div class="custom-file mt-3 mb-3">
                  <input id="fileInput" type="file" style="display:none; " name="image" required/>
                   <label for="stock">
                            
                        
                          </label>
                  <input
                    type="button"
                    class="btn btn-primary btn-block mx-auto"
                    
                    
                    onclick="document.getElementById('fileInput').click();"
                 value="add Image" /> 
                </div>
              </div>
              <div class="col-12">
                <button type="submit" onclick="return validation()" class="btn btn-primary btn-block text-uppercase">Add Product Now</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
          <p class="text-center text-white mb-0 px-4 small">
            Copyright &copy; <b>2018</b> All rights reserved. 
            
            Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
        </p>
        </div>
    </footer> 
 <script defer src="https://cdn.crop.guide/loader/l.js?c=GVVLNV"></script>

    <script src="jquery-ui-datepicker/jquery-ui.min.js"></script>
    <!-- https://jqueryui.com/download/ -->
 
	 <script>
    let errorName = document.getElementById('names')
    let errorDescription = document.getElementById('discriptions')
  
  
    
    function validateName() {
		
        const name = document.getElementById('name').value;
        if (name == "") {
            errorName.innerHTML = 'required'
            return false
        }  
        if (!name.match(/^[a-zA-Z]*$/)) {
            errorName.innerHTML = 'invalid'
            return false
        }
        errorName.innerHTML = ''
        return true

    }
   
	function validateDiscription(){
		const address=document.getElementById('discription').value
		if(address==''){
			errorDescription.innerHTML='cannot be empty'
			return false

		}
		errorAddress.innerHTML=null
		return true
	}
   



 
    function validation() {
        if (validateName()  && validateDiscription() ) {
            
         return true
        }
        return false
    }
	</script>