<div class="container height-100 d-flex justify-content-center align-items-center mt-5">
    <div class="position-relative">
        <div class="card p-2 text-center">
            <h6>Mobile phone verification</h6>
            <div>
                <span id="code">Enter the code we just send on your mobile<br />
                    phone
                </span>
              
                <small style="font-weight: bold ;">+91{{Number}}</small>
                {{#if err}}
                <p class="text-danger">invalid otp</p>
                {{/if}}
            </div>
            <form action="/users/otp-varify" method="post">
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                   <input type="number" name="number" maxlength="4">
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn px-4 validate" style="background-color: #37BDAE;">Validate</button>
                </div>
            </form>
        </div>
    </div>
</div>
